<div class="form-container">
    
    <div class="text-container">
        <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="start center" style="margin-bottom: 40px;">
            <button mat-button routerLink="/"><mat-icon>arrow_back</mat-icon>Go Back</button>
        </div> 
        <h2>Login</h2>
        <p>Please enter your email and password to login.</p>
    </div>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-field">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">Email is invalid</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password is invalid</mat-error>
            <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">Password should be over 6</mat-error>
            <mat-error *ngIf="loginForm.controls['password'].hasError('maxLength')">Password to long</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>