<h2 mat-dialog-title>Create New Collection</h2>
<mat-dialog-content>
  <form #collectionForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Collection Name</mat-label>
      <input matInput [(ngModel)]="collectionName" name="collectionName" required maxlength="40">
      <mat-error *ngIf="collectionForm.submitted && !collectionName">Collection Name is required</mat-error>
      <mat-error *ngIf="collectionName && collectionName.length > 40">Collection Name must be under 40 characters</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select Group</mat-label>
      <mat-select [(ngModel)]="selectedGroupId" name="selectedGroupId" required>
        <mat-option *ngFor="let group of groups" [value]="group.groupId">
          {{ group.groupName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="collectionForm.submitted && !selectedGroupId">Group selection is required</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
  <span class="spacer"></span>
  <button mat-button color="primary" [disabled]="!collectionForm.valid" (click)="onSaveClick(collectionForm)" cdkFocusInitial>Save</button>
</mat-dialog-actions>
