<div class="container">
    <div>
        <h1>How to work the system</h1>
        <ul>
            <hr>
            <li>Step 1: Add collection or use an existing one</li>
            <li>Step 2: Either add, edit or delete items</li>
            <li>Step 3: Click on the "Delete" button to delete an existing item</li>
            <hr>
        </ul>
    </div>
    <div>
        <h1>Extra</h1>
        <ul>
            <hr>
            <li>Create a new group</li>
            <li>Invite other users to your group</li>
            <li>Accept/Deny invitation from other users</li>
            <li>Export items to pdf</li>
            <hr>
        </ul>
    </div>
</div>