<div class="main-container">
    <div class="intro">
        <h1>Inventory management solutions</h1>
        <pre>
            Inventory management solutions is a web application that allows users to manage inventory. 
            Users can create collections, add items to collections, edit items and delete items. 
            Users can also create groups, invite other users to their group to share collections, 
            accept/deny invitations from other users and export items to pdf.
        </pre>
    </div>
    <div class="container">
        <div class="section">
            <h1>How to work the system</h1>
            <ul>
                <hr>
                <li>Step 1: Add collection or use an existing one</li>
                <li>Step 2: Either add, edit or delete items</li>
                <li>Step 3: Click on the "Delete" button to delete an existing item</li>
                <hr>
            </ul>
        </div>
        <div class="section">
            <h1>Extra</h1>
            <ul>
                <hr>
                <li>Create a new group</li>
                <li>Invite other users to your group</li>
                <li>Accept/Deny invitation from other users</li>
                <li>Export items to pdf</li>
                <hr>
            </ul>
        </div>
    </div>
</div>
