<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="collection-container">

<div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center" style="margin-bottom: 40px;">
  <button mat-button routerLink="/"><mat-icon>arrow_back</mat-icon>Go Back</button>
</div> 


<div class="form-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="form-header" style="margin-bottom: 20px; padding: 40px;">
    <h2>Register</h2>
    <p>Please fill in the form to register a new user. All fields are required.</p>
  </div>
  
  
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-field">
      <div class="field-container">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName">
          <mat-error *ngIf="registerForm.controls['firstName'].hasError('required')">Required</mat-error>
          <mat-error *ngIf="registerForm.controls['firstName'].hasError('minlength')">Min 3 chars</mat-error>
        </mat-form-field>
      </div>
  
      <div class="field-container">
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName">
          <mat-error *ngIf="registerForm.controls['lastName'].hasError('required')">Required</mat-error>
        </mat-form-field>
      </div>
  
      <div class="field-container">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="registerForm.controls['email'].hasError('required')">Required</mat-error>
        </mat-form-field>
      </div>
  
      <div class="field-container">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="registerForm.controls['password'].hasError('required')">Required</mat-error>
        </mat-form-field>
      </div>
  
      <div class="field-container">
        <mat-form-field appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput type="number" formControlName="age">
          <mat-error *ngIf="registerForm.controls['age'].hasError('required')">Required</mat-error>
        </mat-form-field>
      </div>
  
      <div class="field-container">
        <mat-form-field appearance="fill">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="">Select</mat-option>
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
          <mat-error *ngIf="registerForm.controls['gender'].hasError('required')">Required</mat-error>
        </mat-form-field>
      </div>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
  </div>
</div>