<h2 mat-dialog-title>Create New Item</h2>
<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="itemName">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput [(ngModel)]="itemPrice">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput [(ngModel)]="itemPrice">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <input matInput [(ngModel)]="itemType">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Width</mat-label>
        <input matInput [(ngModel)]="itemWidth">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Height</mat-label>
        <input matInput [(ngModel)]="itemHeight">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Color</mat-label>
        <input matInput [(ngModel)]="itemColor">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="itemName" cdkFocusInitial>Save</button>
</mat-dialog-actions>
