:host {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.collection-container {
    padding: 60px;
}

.action-buttons {
    margin-bottom: 40px; 
}

.table-container {
    width: 75%;
    max-width: 100%;
    margin-bottom: 20px; 
    padding-bottom: 20px; 
}

.table-container th.mat-header-cell, .table-container td.mat-cell {
    text-align: center;
}

.paginator-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}