<form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Group Name: </mat-label>
      <input matInput formControlName="groupName" required>
      <mat-error *ngIf="groupForm.get('groupName')!.hasError('required')">
        Group name is required
      </mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="button" (click)="onNoClick()">Cancel</button>
      <button mat-raised-button color="warn" type="submit">Create</button>
    </div>
  </form>
  